.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slogan {
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  font-weight: 700;
}

.nav-links {
  background-color: #f7f7f7; /* Your current background color */
  padding: 10px 15px; /* Increase padding to increase the height */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif bir gölge ekler */
  display: flex; /* This will allow you to align links horizontally */
  justify-content: center; /* Center the links horizontally */
  align-items: center; /* Center the links vertically */
}




/* Destek paneli için stil */
.support-chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

/* Yuvarlak buton stil */
.chat-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

/* Sohbet paneli */
.chat-panel {
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 300px;
  height: 400px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  border-radius: 8px;
  display: none; /* Başlangıçta görünmez */
  flex-direction: column;
}

/* Panel içeriği */
.chat-content {
  padding: 10px;
  overflow-y: auto;
  flex: 1;
}

/* Mesaj giriş alanı */
.chat-input {
  border-top: 1px solid #ccc;
  padding: 10px;
}

/* Sohbet balonu stil ayarlamaları */
.message {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  max-width: 80%;
}

.user-message {
  background-color: #007bff;
  color: white;
  align-self: flex-end; /* Kullanıcı mesajlarını sağa yasla */
}

.bot-message {
  background-color: #f1f1f1;
  color: black;
  align-self: flex-start; /* Bot mesajlarını sola yasla */
}
