.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slogan {
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  font-weight: 700;
}



/****************************** NAVBAR START ******************************/

.nav-links {
  background-color: #f7f7f7;
  padding: 10px 15px;
  /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}
.logo{
  height: 80px;
}
.nav-link {
  background-color: transparent;
  padding: 10px 15px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 10px; 
}
.nav-link:focus, .nav-link.active, .nav-link:hover {
  border-bottom: 1px solid #444;
}

/****************************** NAVBAR END ******************************/



/****************************** FOOTER START ******************************/

footer {
  margin-top: auto;
  padding: 2rem 0;
  background-color: #343a40;
  color: white;
}

footer h5 {
  margin-bottom: 1rem;
}

footer p, footer ul {
  margin-bottom: 1rem;
}

footer .bg-secondary {
  background-color: #6c757d !important;
}

footer .linkedin-button {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin: 6px;
  background-color: #ffffff;
  border: none;
  color: #0077b5;
}

footer .linkedin-icon {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

/****************************** FOOTER END ******************************/