.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slogan {
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  font-weight: 700;
}


/* navbar */
.nav-links {
  background-color: #f7f7f7; /* Mevcut arkaplan renginiz */
  padding: 10px 15px; /* Yüksekliği artırmak için dolguyu artırın */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif bir gölge ekler */
  display: flex; /* Bu, bağlantıları yatay olarak hizalamanızı sağlar */
  justify-content: space-between; /* Bağlantıları yatay olarak ayır */
  align-items: center; /* Bağlantıları dikey olarak merkezle */
}

.nav-links > img {
  height: 80px; /* Logonun yüksekliğini ayarlayabilirsiniz */
  margin-right: auto; /* Logo hariç diğer öğeleri sağa itmek için */
}


.custom-button, .login-button {
  background-color: transparent; /* Buton arka planını şeffaf yap */
  color: #007bff; /* Metin rengi */
  border: none; /* Kenarlıkları kaldır */
  padding: 10px 15px; /* Yeterli dolgu */
  font-size: 16px; /* Metin boyutu */
  text-transform: uppercase; /* Metni büyük harfe çevir */
  letter-spacing: 1px; /* Harf aralığını genişlet */
  cursor: pointer; /* Fare imlecini düğme olarak değiştir */
  transition: color 0.3s; /* Geçiş efekti */
}

.custom-button:hover, .login-button:hover {
  color: #0056b3; /* Hover rengi */
}

/* Eğer ekstra stil isterseniz, aktif ve odaklanma durumları için de stil ekleyebilirsiniz */
.custom-button:focus, .login-button:focus,
.custom-button:active, .login-button:active {
  outline: none; /* Odaklanma çerçevesini kaldır */
  box-shadow: none; /* Gölgeyi kaldır */
}


.nav-links a {
  color: #007bff; /* Normal link rengi */
  text-decoration: none; /* Alt çizgiyi kaldır */
  padding: 10px 15px;
  transition: color 0.3s; /* Renk değişimi için geçiş efekti */
}

.nav-links a:hover, .nav-links a.active {
  color: #0056b3; /* Hover ve aktif link rengi */
  border-bottom: 2px solid #0056b3; /* Alt çizgi */
}

.nav-links a.active {
  font-weight: bold; /* Aktif link için kalın yazı tipi */
}
