

.progress-steps {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 16px;
}

.active-step {
  color: #007bff;
}

.disabled-step {
  color: #c0c0c0;
  cursor: not-allowed;
}

.arrow {
  margin: 0 10px;
}

.ticket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  gap: 20px;
}

.tickets-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.ticket div {
  margin-bottom: 5px; 
  font-size: 16px;
  color: #333;
  flex: 1; 
}

button {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.progress-container {
  width: 100%;
  background-color: #e0e0e0;
  margin-bottom: 20px;
}

.progress-bar {
  height: 40px;
  background-color: #007bff;
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: white;
  border-radius: 8px;
}

button {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.ticket-detail {
  margin-bottom: 10px;
}

.ticket-detail strong {
  display: block;
}

.ticket-detail span {
  display: block;
}

/* Yeni Eklenen Stiller */



.date-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.date-selector button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: color 0.3s;
  color: #666; /* Soluk siyah (gri) */
  font-weight: normal; /* Normal yazı */
}

.date-selector button:hover {
  color: #0056b3;
}

.date-selector button.active {
  color: #000000; /* Siyah renk */
}

.date-selector button.disabled {
  color: #c0c0c0;
  cursor: not-allowed;
}

.date-selector .calendar-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #666; /* Soluk siyah (gri) */
}

.date-selector .calendar-button:hover {
  color: #0056b3;
}

.date-selector .react-datepicker-wrapper {
  display: inline-block;
  width: auto; /* Butonun genişliğine göre ayarla */
}

.date-selector .react-datepicker__input-container input {
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  color: #666; /* Soluk siyah (gri) */
  display: none; /* Giriş alanını gizle */
}

.date-selector .react-datepicker__input-container input:focus {
  outline: none;
}

.date-selector .react-datepicker {
  color: #666; /* Takvim metin rengi */
}

.date-selector .react-datepicker__current-month,
.date-selector .react-datepicker__day,
.date-selector .react-datepicker__day-name,
.date-selector .react-datepicker__day--selected {
  color: #666; /* Takvim gün rengi */
}

.date-selector .react-datepicker__day--keyboard-selected {
  background-color: #666; /* Seçilen gün arkaplan rengi */
}

.journey-info {
  font-size: 18px;
  font-weight: normal; /* Normal yazı */
  color: #666; /* Soluk siyah (gri) */
  margin-bottom: 20px;
  text-align: center;
}
